body {
    margin: 0px;
    padding: 0px;
    background: url(w.jpg);
    background-size: cover;
}

nav {
    width: 100%;
    background-color:rgb(137, 201, 129);
    display: flex;
    justify-content: center; 
} 
label.logo {
    color: white;
    font-size: 38px;
    line-height: 40px;
    padding: 0 60px;
    font-size: bold;
    padding: 30px;
}
nav ul {
    float: right;
    margin-right: 8px;
}
nav li {
    list-style-type: none;
    line-height: 40px;
    margin: 2px;
    display: inline-block;
}
nav a{
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: 20px 30px;
    margin-right: 0 2px;
    font-size: 16px;
    border-radius: 3px;
    text-transform: uppercase;
    text-size-adjust: 20px;
    
}
.menu-Realsurf:hover{
    background-color:  rgb(3, 125, 240);
    transition: .5s;
}
.menu-Beginner:hover{
    background-color:  rgb(201, 134, 129);
    transition: .5s;
}
.menu-Professional:hover{
    background-color: rgb(221, 221, 97);
    transition: .5s;
}
.menu-Competitions:hover{
    background-color: #778899	;
    transition: .5s;
}
.menu-Weather:hover{
    background-color: rgb(158, 76, 235);
    transition: .5s;
}
.menu-music:hover{
    background-color: rgb(255, 255, 255);
    transition: .5s;
}
.checkbtn{
    font-size: 35px;
    color: white;
    float:right;
    line-height: 80px; 
    margin-right: 40px;
    cursor: pointer;
    display: none;
    padding: 5px;
 }   
#check {
    display: none;
}
@media (max-width: 658px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav a {
        font-size: 16px;
     }
}
@media (max-width: 1430px) {
    .checkbtn{
        display: block;
    } 
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(145, 180, 140);
        top: 80px;
        left: -110%;
        text-align: center;
        transition: all .5s;
    

}
nav li{
    display: block;
    margin: 35px 0;
    line-height: 30px;
}
nav a{
font-size: 20px;
}
a:hover a:active{
    background: none;
    color: rgb(3, 125, 240);
}
#check:checked ~ ul{
    left: 0;
}
}
video.m{
    display: block;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
    color:black;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(0, 225, 255, 0.596);
    margin-top: 77px;

}

h4 {
    
    color:black;
    
    margin-right: 15px;
    margin-left: 12px;
    font-family: monospace;
    font-size: 25px;
    background-color: rgba(219, 217, 55, 0.692);
    text-align: center;
   
    
}
p {
    text-indent: 30px;
    color:rgba(0, 0, 0, 0.856);
    
    margin-right: 15px;
    margin-left: 12px;
    
    font-size: 25px;
    font-family: serif;
}

.a {
    
    color:rgba(0, 0, 0, 0.856);
    text-shadow: 2px 2px 5px red;
    text-align: center;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.e {
    
    color:rgba(0, 0, 0, 0.856);
    text-shadow: 2px 2px 5px rgb(0, 128, 38);
    text-align: center;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.b {
    
    color:rgba(0, 0, 0, 0.856);
    text-shadow: 2px 2px 5px rgb(179, 255, 0);
    text-align: center;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.c {
    
    color:rgba(0, 0, 0, 0.856);
    text-shadow: 2px 2px 5px rgb(255, 94, 0);
    text-align: center;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.d {
    
    color:rgba(0, 0, 0, 0.856);
    text-shadow: 2px 2px 5px rgb(255, 0, 242);
    text-align: center;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.f {
    
    color:rgba(0, 0, 0, 0.856);
    text-shadow: 2px 2px 5px rgba(35, 15, 211, 0.884);
    text-align: center;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
div.suck {
   
    text-transform: capitalize;
    -webkit-text-decoration-line: overline underline; /* Safari */
    text-decoration-line: overline underline;
    text-decoration-color: rgb(67, 155, 9);
    font-style: italic;
    font-size: 19px;
    text-indent: 20px;
    
}
